{
    "GccTargets":  [
                       "windres src\\EliteSoftware-HostConfigurator\\app.rc -O coff -o src\\EliteSoftware-HostConfigurator\\app.res",
                       "cmd /c if not exist \"src\\EliteSoftware-HostConfigurator\\x64\" mkdir \"src\\EliteSoftware-HostConfigurator\\x64\"",
                       "g++ -m64 -O3 -o src\\EliteSoftware-HostConfigurator\\x64\\EliteHostConfigurator.exe src\\EliteSoftware-HostConfigurator\\main.cpp src\\EliteSoftware-HostConfigurator\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx64\\EliteHostConfigurator.exe\" del /f /q \"BuildOutputx64\\EliteHostConfigurator.exe\"",
                       "cmd /c mklink \"BuildOutputx64\\EliteHostConfigurator.exe\" \"..\\src\\EliteSoftware-HostConfigurator\\x64\\EliteHostConfigurator.exe\"",
                       "cmd /c if not exist \"src\\EliteSoftware-HostConfigurator\\x86\" mkdir \"src\\EliteSoftware-HostConfigurator\\x86\"",
                       "g++ -m32 -O3 -o src\\EliteSoftware-HostConfigurator\\x86\\EliteHostConfigurator.exe src\\EliteSoftware-HostConfigurator\\main.cpp src\\EliteSoftware-HostConfigurator\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx86\\EliteHostConfigurator.exe\" del /f /q \"BuildOutputx86\\EliteHostConfigurator.exe\"",
                       "cmd /c mklink \"BuildOutputx86\\EliteHostConfigurator.exe\" \"..\\src\\EliteSoftware-HostConfigurator\\x86\\EliteHostConfigurator.exe\""
                   ],
    "KillProcesses":  [
                          "EliteHostConfigurator.exe"
                      ]
}
