{
    "GccTargets": [
        "windres src\\EliteSoftware-ADBManager\\app.rc -O coff -o src\\EliteSoftware-ADBManager\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteADBManager.exe src\\EliteSoftware-ADBManager\\main.cpp src\\EliteSoftware-ADBManager\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteADBManager.exe src\\EliteSoftware-ADBManager\\main.cpp src\\EliteSoftware-ADBManager\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteADBManager.exe"
    ]
}
