{
    "GccTargets": [
        "windres src\\EliteSoftware-VSBuildTools\\app.rc -O coff -o src\\EliteSoftware-VSBuildTools\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteVSBuildTools.exe src\\EliteSoftware-VSBuildTools\\main.cpp src\\EliteSoftware-VSBuildTools\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteVSBuildTools.exe src\\EliteSoftware-VSBuildTools\\main.cpp src\\EliteSoftware-VSBuildTools\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteVSBuildTools.exe"
    ]
}
