{
    "GccTargets": [
        "windres src\\EliteSoftware-Symlinker\\app.rc -O coff -o src\\EliteSoftware-Symlinker\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteSymlinker.exe src\\EliteSoftware-Symlinker\\main.cpp src\\EliteSoftware-Symlinker\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteSymlinker.exe src\\EliteSoftware-Symlinker\\main.cpp src\\EliteSoftware-Symlinker\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteSymlinker.exe"
    ]
}
