{
    "GccTargets":  [
                       "windres src\\EliteSoftware-DotNetEnv\\app.rc -O coff -o src\\EliteSoftware-DotNetEnv\\app.res",
                       "cmd /c if not exist \"src\\EliteSoftware-DotNetEnv\\x64\" mkdir \"src\\EliteSoftware-DotNetEnv\\x64\"",
                       "g++ -m64 -O3 -o src\\EliteSoftware-DotNetEnv\\x64\\EliteDotNetEnv.exe src\\EliteSoftware-DotNetEnv\\main.cpp src\\EliteSoftware-DotNetEnv\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx64\\EliteDotNetEnv.exe\" del /f /q \"BuildOutputx64\\EliteDotNetEnv.exe\"",
                       "cmd /c mklink \"BuildOutputx64\\EliteDotNetEnv.exe\" \"..\\src\\EliteSoftware-DotNetEnv\\x64\\EliteDotNetEnv.exe\"",
                       "cmd /c if not exist \"src\\EliteSoftware-DotNetEnv\\x86\" mkdir \"src\\EliteSoftware-DotNetEnv\\x86\"",
                       "g++ -m32 -O3 -o src\\EliteSoftware-DotNetEnv\\x86\\EliteDotNetEnv.exe src\\EliteSoftware-DotNetEnv\\main.cpp src\\EliteSoftware-DotNetEnv\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx86\\EliteDotNetEnv.exe\" del /f /q \"BuildOutputx86\\EliteDotNetEnv.exe\"",
                       "cmd /c mklink \"BuildOutputx86\\EliteDotNetEnv.exe\" \"..\\src\\EliteSoftware-DotNetEnv\\x86\\EliteDotNetEnv.exe\""
                   ],
    "KillProcesses":  [
                          "EliteDotNetEnv.exe"
                      ]
}
