{
    "GccTargets": [
        "windres src\\EliteSoftware-SiteCompiler\\app.rc -O coff -o src\\EliteSoftware-SiteCompiler\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteSiteCompiler.exe src\\EliteSoftware-SiteCompiler\\main.cpp src\\EliteSoftware-SiteCompiler\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteSiteCompiler.exe src\\EliteSoftware-SiteCompiler\\main.cpp src\\EliteSoftware-SiteCompiler\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteSiteCompiler.exe"
    ]
}
