{
    "GccTargets": [
        "windres src\\EliteSoftware-ShortcutForge\\app.rc -O coff -o src\\EliteSoftware-ShortcutForge\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteShortcutForge.exe src\\EliteSoftware-ShortcutForge\\main.cpp src\\EliteSoftware-ShortcutForge\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteShortcutForge.exe src\\EliteSoftware-ShortcutForge\\main.cpp src\\EliteSoftware-ShortcutForge\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteShortcutForge.exe"
    ]
}
