{
    "GccTargets":  [
                       "windres src\\EliteSoftware-CertManager\\app.rc -O coff -o src\\EliteSoftware-CertManager\\app.res",
                       "cmd /c if not exist \"src\\EliteSoftware-CertManager\\x64\" mkdir \"src\\EliteSoftware-CertManager\\x64\"",
                       "g++ -m64 -O3 -o src\\EliteSoftware-CertManager\\x64\\EliteCertManager.exe src\\EliteSoftware-CertManager\\main.cpp src\\EliteSoftware-CertManager\\app.res -lcrypt32",
                       "cmd /c if exist \"BuildOutputx64\\EliteCertManager.exe\" del /f /q \"BuildOutputx64\\EliteCertManager.exe\"",
                       "cmd /c mklink \"BuildOutputx64\\EliteCertManager.exe\" \"..\\src\\EliteSoftware-CertManager\\x64\\EliteCertManager.exe\"",
                       "cmd /c if not exist \"src\\EliteSoftware-CertManager\\x86\" mkdir \"src\\EliteSoftware-CertManager\\x86\"",
                       "g++ -m32 -O3 -o src\\EliteSoftware-CertManager\\x86\\EliteCertManager.exe src\\EliteSoftware-CertManager\\main.cpp src\\EliteSoftware-CertManager\\app.res -lole32 -luuid -lshell32 -lcrypt32",
                       "cmd /c if exist \"BuildOutputx86\\EliteCertManager.exe\" del /f /q \"BuildOutputx86\\EliteCertManager.exe\"",
                       "cmd /c mklink \"BuildOutputx86\\EliteCertManager.exe\" \"..\\src\\EliteSoftware-CertManager\\x86\\EliteCertManager.exe\""
                   ],
    "KillProcesses":  [
                          "EliteCertManager.exe"
                      ]
}
