{
    "GccTargets": [
        "windres src\\EliteSoftware-ClipSaver\\app.rc -O coff -o src\\EliteSoftware-ClipSaver\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteClipSaver.exe src\\EliteSoftware-ClipSaver\\main.cpp src\\EliteSoftware-ClipSaver\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteClipSaver.exe src\\EliteSoftware-ClipSaver\\main.cpp src\\EliteSoftware-ClipSaver\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteClipSaver.exe"
    ]
}
