{
    "GccTargets": [
        "windres src\\EliteSoftware-HostConfigurator\\app.rc -O coff -o src\\EliteSoftware-HostConfigurator\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteHostConfigurator.exe src\\EliteSoftware-HostConfigurator\\main.cpp src\\EliteSoftware-HostConfigurator\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteHostConfigurator.exe src\\EliteSoftware-HostConfigurator\\main.cpp src\\EliteSoftware-HostConfigurator\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteHostConfigurator.exe"
    ]
}
