{
    "GccTargets": [
        "windres src\\EliteSoftware-CLSIDGenerator\\app.rc -O coff -o src\\EliteSoftware-CLSIDGenerator\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\ src\\EliteSoftware-CLSIDGenerator\\main.cpp -lole32 -ladvapi32",
        "g++ -m32 -O3 -o BuildOutputx86\\ src\\EliteSoftware-CLSIDGenerator\\main.cpp -lole32 -ladvapi32"
    ],
    "KillProcesses": [
        "EliteSoftware-CLSIDGenerator.exe"
    ]
}
