{
    "GccTargets": [
        "windres src\\EliteSoftware-DuplicateSweeper\\app.rc -O coff -o src\\EliteSoftware-DuplicateSweeper\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteDuplicateSweeper.exe src\\EliteSoftware-DuplicateSweeper\\main.cpp src\\EliteSoftware-DuplicateSweeper\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteDuplicateSweeper.exe src\\EliteSoftware-DuplicateSweeper\\main.cpp src\\EliteSoftware-DuplicateSweeper\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteDuplicateSweeper.exe"
    ]
}
