{
    "GccTargets": [
        "windres src\\EliteSoftware-MetaStamper\\app.rc -O coff -o src\\EliteSoftware-MetaStamper\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteMetaStamper.exe src\\EliteSoftware-MetaStamper\\main.cpp src\\EliteSoftware-MetaStamper\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteMetaStamper.exe src\\EliteSoftware-MetaStamper\\main.cpp src\\EliteSoftware-MetaStamper\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteMetaStamper.exe"
    ]
}
