{
    "GccTargets":  [
                       "windres src\\EliteSoftware-EnvManager\\app.rc -O coff -o src\\EliteSoftware-EnvManager\\app.res",
                       "cmd /c if not exist \"src\\EliteSoftware-EnvManager\\x64\" mkdir \"src\\EliteSoftware-EnvManager\\x64\"",
                       "g++ -m64 -O3 -o src\\EliteSoftware-EnvManager\\x64\\EliteEnvManager.exe src\\EliteSoftware-EnvManager\\main.cpp src\\EliteSoftware-EnvManager\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx64\\EliteEnvManager.exe\" del /f /q \"BuildOutputx64\\EliteEnvManager.exe\"",
                       "cmd /c mklink \"BuildOutputx64\\EliteEnvManager.exe\" \"..\\src\\EliteSoftware-EnvManager\\x64\\EliteEnvManager.exe\"",
                       "cmd /c if not exist \"src\\EliteSoftware-EnvManager\\x86\" mkdir \"src\\EliteSoftware-EnvManager\\x86\"",
                       "g++ -m32 -O3 -o src\\EliteSoftware-EnvManager\\x86\\EliteEnvManager.exe src\\EliteSoftware-EnvManager\\main.cpp src\\EliteSoftware-EnvManager\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx86\\EliteEnvManager.exe\" del /f /q \"BuildOutputx86\\EliteEnvManager.exe\"",
                       "cmd /c mklink \"BuildOutputx86\\EliteEnvManager.exe\" \"..\\src\\EliteSoftware-EnvManager\\x86\\EliteEnvManager.exe\""
                   ],
    "KillProcesses":  [
                          "EliteEnvManager.exe"
                      ]
}
