{
    "GccTargets":  [
                       "windres src\\EliteSoftware-AssetManager\\app.rc -O coff -o src\\EliteSoftware-AssetManager\\app.res",
                       "cmd /c if not exist \"src\\EliteSoftware-AssetManager\\x64\" mkdir \"src\\EliteSoftware-AssetManager\\x64\"",
                       "g++ -m64 -O3 -o src\\EliteSoftware-AssetManager\\x64\\EliteAssetManager.exe src\\EliteSoftware-AssetManager\\main.cpp src\\EliteSoftware-AssetManager\\app.res -lurlmon",
                       "cmd /c if exist \"BuildOutputx64\\EliteAssetManager.exe\" del /f /q \"BuildOutputx64\\EliteAssetManager.exe\"",
                       "cmd /c mklink \"BuildOutputx64\\EliteAssetManager.exe\" \"..\\src\\EliteSoftware-AssetManager\\x64\\EliteAssetManager.exe\"",
                       "cmd /c if not exist \"src\\EliteSoftware-AssetManager\\x86\" mkdir \"src\\EliteSoftware-AssetManager\\x86\"",
                       "g++ -m32 -O3 -o src\\EliteSoftware-AssetManager\\x86\\EliteAssetManager.exe src\\EliteSoftware-AssetManager\\main.cpp src\\EliteSoftware-AssetManager\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx86\\EliteAssetManager.exe\" del /f /q \"BuildOutputx86\\EliteAssetManager.exe\"",
                       "cmd /c mklink \"BuildOutputx86\\EliteAssetManager.exe\" \"..\\src\\EliteSoftware-AssetManager\\x86\\EliteAssetManager.exe\""
                   ],
    "KillProcesses":  [
                          "EliteAssetManager.exe"
                      ]
}
