{
    "GccTargets":  [
                       "windres src\\EliteSoftware-Win7Enabler\\app.rc -O coff -o src\\EliteSoftware-Win7Enabler\\app.res",
                       "cmd /c if not exist \"src\\EliteSoftware-Win7Enabler\\x64\" mkdir \"src\\EliteSoftware-Win7Enabler\\x64\"",
                       "g++ -m64 -O3 -o src\\EliteSoftware-Win7Enabler\\x64\\EliteWin7Enabler.exe src\\EliteSoftware-Win7Enabler\\main.cpp src\\EliteSoftware-Win7Enabler\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx64\\EliteWin7Enabler.exe\" del /f /q \"BuildOutputx64\\EliteWin7Enabler.exe\"",
                       "cmd /c mklink \"BuildOutputx64\\EliteWin7Enabler.exe\" \"..\\src\\EliteSoftware-Win7Enabler\\x64\\EliteWin7Enabler.exe\"",
                       "cmd /c if not exist \"src\\EliteSoftware-Win7Enabler\\x86\" mkdir \"src\\EliteSoftware-Win7Enabler\\x86\"",
                       "g++ -m32 -O3 -o src\\EliteSoftware-Win7Enabler\\x86\\EliteWin7Enabler.exe src\\EliteSoftware-Win7Enabler\\main.cpp src\\EliteSoftware-Win7Enabler\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx86\\EliteWin7Enabler.exe\" del /f /q \"BuildOutputx86\\EliteWin7Enabler.exe\"",
                       "cmd /c mklink \"BuildOutputx86\\EliteWin7Enabler.exe\" \"..\\src\\EliteSoftware-Win7Enabler\\x86\\EliteWin7Enabler.exe\""
                   ],
    "KillProcesses":  [
                          "EliteWin7Enabler.exe"
                      ]
}
