{
    "GccTargets": [
        "windres src\\EliteSoftware-PSWrapper\\app.rc -O coff -o src\\EliteSoftware-PSWrapper\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\ElitePSWrapper.exe src\\EliteSoftware-PSWrapper\\main.cpp src\\EliteSoftware-PSWrapper\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\ElitePSWrapper.exe src\\EliteSoftware-PSWrapper\\main.cpp src\\EliteSoftware-PSWrapper\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "ElitePSWrapper.exe"
    ]
}
