{
    "GccTargets":  [
                       "windres src\\EliteSoftware-OptiLink\\app.rc -O coff -o src\\EliteSoftware-OptiLink\\app.res",
                       "cmd /c if not exist \"src\\EliteSoftware-OptiLink\\x64\" mkdir \"src\\EliteSoftware-OptiLink\\x64\"",
                       "g++ -m64 -O3 -o src\\EliteSoftware-OptiLink\\x64\\EliteOptiLink.exe src\\EliteSoftware-OptiLink\\main.cpp src\\EliteSoftware-OptiLink\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx64\\EliteOptiLink.exe\" del /f /q \"BuildOutputx64\\EliteOptiLink.exe\"",
                       "cmd /c mklink \"BuildOutputx64\\EliteOptiLink.exe\" \"..\\src\\EliteSoftware-OptiLink\\x64\\EliteOptiLink.exe\"",
                       "cmd /c if not exist \"src\\EliteSoftware-OptiLink\\x86\" mkdir \"src\\EliteSoftware-OptiLink\\x86\"",
                       "g++ -m32 -O3 -o src\\EliteSoftware-OptiLink\\x86\\EliteOptiLink.exe src\\EliteSoftware-OptiLink\\main.cpp src\\EliteSoftware-OptiLink\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx86\\EliteOptiLink.exe\" del /f /q \"BuildOutputx86\\EliteOptiLink.exe\"",
                       "cmd /c mklink \"BuildOutputx86\\EliteOptiLink.exe\" \"..\\src\\EliteSoftware-OptiLink\\x86\\EliteOptiLink.exe\""
                   ],
    "KillProcesses":  [
                          "EliteOptiLink.exe"
                      ]
}
