{
    "GccTargets": [
        "windres src\\EliteSoftware-ProfileManager\\app.rc -O coff -o src\\EliteSoftware-ProfileManager\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteProfileManager.exe src\\EliteSoftware-ProfileManager\\main.cpp src\\EliteSoftware-ProfileManager\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteProfileManager.exe src\\EliteSoftware-ProfileManager\\main.cpp src\\EliteSoftware-ProfileManager\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteProfileManager.exe"
    ]
}
