{
    "GccTargets": [
        "windres -F pe-x86-64 src\\EliteSoftware-GitHub_Repo-Automation\\resource.rc -o src\\EliteSoftware-GitHub_Repo-Automation\\res64.res",
        "windres -F pe-i386 src\\EliteSoftware-GitHub_Repo-Automation\\resource.rc -o src\\EliteSoftware-GitHub_Repo-Automation\\res32.res",
        "g++ -m64 -O3 -std=c++17 -o BuildOutputx64\\EliteGitHubAutomator.exe src\\EliteSoftware-GitHub_Repo-Automation\\EliteSoftware-GitHub_Repo-Automation_CLI\\main.cpp src\\EliteSoftware-GitHub_Repo-Automation\\res64.res",
        "g++ -m32 -O3 -std=c++17 -o BuildOutputx86\\EliteGitHubAutomator.exe src\\EliteSoftware-GitHub_Repo-Automation\\EliteSoftware-GitHub_Repo-Automation_CLI\\main.cpp src\\EliteSoftware-GitHub_Repo-Automation\\res32.res"
    ],
    "KillProcesses": [
        "EliteGitHubAutomator.exe"
    ]
}
