{
    "GccTargets": [
        "windres src\\EliteSoftware-TaskAssassin\\app.rc -O coff -o src\\EliteSoftware-TaskAssassin\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteTaskAssassin.exe src\\EliteSoftware-TaskAssassin\\main.cpp src\\EliteSoftware-TaskAssassin\\app.res",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteTaskAssassin.exe src\\EliteSoftware-TaskAssassin\\main.cpp src\\EliteSoftware-TaskAssassin\\app.res"
    ],
    "KillProcesses": [
        "EliteTaskAssassin.exe"
    ]
}
