{
    "GccTargets": [
        "windres src\\EliteSoftware-RepoCloner\\app.rc -O coff -o src\\EliteSoftware-RepoCloner\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteRepoCloner.exe src\\EliteSoftware-RepoCloner\\main.cpp src\\EliteSoftware-RepoCloner\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteRepoCloner.exe src\\EliteSoftware-RepoCloner\\main.cpp src\\EliteSoftware-RepoCloner\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteRepoCloner.exe"
    ]
}
