{
    "GccTargets": [
        "windres src\\EliteSoftware-SmartRegsvr\\app.rc -O coff -o src\\EliteSoftware-SmartRegsvr\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\ src\\EliteSoftware-SmartRegsvr\\main.cpp",
        "g++ -m32 -O3 -o BuildOutputx86\\ src\\EliteSoftware-SmartRegsvr\\main.cpp"
    ],
    "KillProcesses": [
        "EliteSoftware-SmartRegsvr.exe"
    ]
}
