{
    "GccTargets": [
        "windres src\\EliteSoftware-DotNetEnv\\app.rc -O coff -o src\\EliteSoftware-DotNetEnv\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteDotNetEnv.exe src\\EliteSoftware-DotNetEnv\\main.cpp src\\EliteSoftware-DotNetEnv\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteDotNetEnv.exe src\\EliteSoftware-DotNetEnv\\main.cpp src\\EliteSoftware-DotNetEnv\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteDotNetEnv.exe"
    ]
}
