{
    "GccTargets":  [
                       "windres src\\EliteSoftware-SiteCompiler\\app.rc -O coff -o src\\EliteSoftware-SiteCompiler\\app.res",
                       "cmd /c if not exist \"src\\EliteSoftware-SiteCompiler\\x64\" mkdir \"src\\EliteSoftware-SiteCompiler\\x64\"",
                       "g++ -m64 -O3 -o src\\EliteSoftware-SiteCompiler\\x64\\EliteSiteCompiler.exe src\\EliteSoftware-SiteCompiler\\main.cpp src\\EliteSoftware-SiteCompiler\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx64\\EliteSiteCompiler.exe\" del /f /q \"BuildOutputx64\\EliteSiteCompiler.exe\"",
                       "cmd /c mklink \"BuildOutputx64\\EliteSiteCompiler.exe\" \"..\\src\\EliteSoftware-SiteCompiler\\x64\\EliteSiteCompiler.exe\"",
                       "cmd /c if not exist \"src\\EliteSoftware-SiteCompiler\\x86\" mkdir \"src\\EliteSoftware-SiteCompiler\\x86\"",
                       "g++ -m32 -O3 -o src\\EliteSoftware-SiteCompiler\\x86\\EliteSiteCompiler.exe src\\EliteSoftware-SiteCompiler\\main.cpp src\\EliteSoftware-SiteCompiler\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx86\\EliteSiteCompiler.exe\" del /f /q \"BuildOutputx86\\EliteSiteCompiler.exe\"",
                       "cmd /c mklink \"BuildOutputx86\\EliteSiteCompiler.exe\" \"..\\src\\EliteSoftware-SiteCompiler\\x86\\EliteSiteCompiler.exe\""
                   ],
    "KillProcesses":  [
                          "EliteSiteCompiler.exe"
                      ]
}
