{
    "GccTargets":  [
                       "windres src\\EliteSoftware-EXEKiller\\app.rc -O coff -o src\\EliteSoftware-EXEKiller\\app.res",
                       "cmd /c if not exist \"src\\EliteSoftware-EXEKiller\\x64\" mkdir \"src\\EliteSoftware-EXEKiller\\x64\"",
                       "g++ -m64 -O3 -o src\\EliteSoftware-EXEKiller\\x64\\EliteEXEKiller.exe src\\EliteSoftware-EXEKiller\\main.cpp src\\EliteSoftware-EXEKiller\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx64\\EliteEXEKiller.exe\" del /f /q \"BuildOutputx64\\EliteEXEKiller.exe\"",
                       "cmd /c mklink \"BuildOutputx64\\EliteEXEKiller.exe\" \"..\\src\\EliteSoftware-EXEKiller\\x64\\EliteEXEKiller.exe\"",
                       "cmd /c if not exist \"src\\EliteSoftware-EXEKiller\\x86\" mkdir \"src\\EliteSoftware-EXEKiller\\x86\"",
                       "g++ -m32 -O3 -o src\\EliteSoftware-EXEKiller\\x86\\EliteEXEKiller.exe src\\EliteSoftware-EXEKiller\\main.cpp src\\EliteSoftware-EXEKiller\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx86\\EliteEXEKiller.exe\" del /f /q \"BuildOutputx86\\EliteEXEKiller.exe\"",
                       "cmd /c mklink \"BuildOutputx86\\EliteEXEKiller.exe\" \"..\\src\\EliteSoftware-EXEKiller\\x86\\EliteEXEKiller.exe\""
                   ],
    "KillProcesses":  [
                          "EliteEXEKiller.exe"
                      ]
}
