{
    "GccTargets":  [
                       "windres src\\EliteSoftware-RepoCloner\\app.rc -O coff -o src\\EliteSoftware-RepoCloner\\app.res",
                       "cmd /c if not exist \"src\\EliteSoftware-RepoCloner\\x64\" mkdir \"src\\EliteSoftware-RepoCloner\\x64\"",
                       "g++ -m64 -O3 -o src\\EliteSoftware-RepoCloner\\x64\\EliteRepoCloner.exe src\\EliteSoftware-RepoCloner\\main.cpp src\\EliteSoftware-RepoCloner\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx64\\EliteRepoCloner.exe\" del /f /q \"BuildOutputx64\\EliteRepoCloner.exe\"",
                       "cmd /c mklink \"BuildOutputx64\\EliteRepoCloner.exe\" \"..\\src\\EliteSoftware-RepoCloner\\x64\\EliteRepoCloner.exe\"",
                       "cmd /c if not exist \"src\\EliteSoftware-RepoCloner\\x86\" mkdir \"src\\EliteSoftware-RepoCloner\\x86\"",
                       "g++ -m32 -O3 -o src\\EliteSoftware-RepoCloner\\x86\\EliteRepoCloner.exe src\\EliteSoftware-RepoCloner\\main.cpp src\\EliteSoftware-RepoCloner\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx86\\EliteRepoCloner.exe\" del /f /q \"BuildOutputx86\\EliteRepoCloner.exe\"",
                       "cmd /c mklink \"BuildOutputx86\\EliteRepoCloner.exe\" \"..\\src\\EliteSoftware-RepoCloner\\x86\\EliteRepoCloner.exe\""
                   ],
    "KillProcesses":  [
                          "EliteRepoCloner.exe"
                      ]
}
