{
    "GccTargets":  [
                       "windres src\\EliteSoftware-SystemRestore\\app.rc -O coff -o src\\EliteSoftware-SystemRestore\\app.res",
                       "cmd /c if not exist \"src\\EliteSoftware-SystemRestore\\x64\" mkdir \"src\\EliteSoftware-SystemRestore\\x64\"",
                       "g++ -m64 -O3 -o src\\EliteSoftware-SystemRestore\\x64\\EliteSystemRestore.exe src\\EliteSoftware-SystemRestore\\main.cpp src\\EliteSoftware-SystemRestore\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx64\\EliteSystemRestore.exe\" del /f /q \"BuildOutputx64\\EliteSystemRestore.exe\"",
                       "cmd /c mklink \"BuildOutputx64\\EliteSystemRestore.exe\" \"..\\src\\EliteSoftware-SystemRestore\\x64\\EliteSystemRestore.exe\"",
                       "cmd /c if not exist \"src\\EliteSoftware-SystemRestore\\x86\" mkdir \"src\\EliteSoftware-SystemRestore\\x86\"",
                       "g++ -m32 -O3 -o src\\EliteSoftware-SystemRestore\\x86\\EliteSystemRestore.exe src\\EliteSoftware-SystemRestore\\main.cpp src\\EliteSoftware-SystemRestore\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx86\\EliteSystemRestore.exe\" del /f /q \"BuildOutputx86\\EliteSystemRestore.exe\"",
                       "cmd /c mklink \"BuildOutputx86\\EliteSystemRestore.exe\" \"..\\src\\EliteSoftware-SystemRestore\\x86\\EliteSystemRestore.exe\""
                   ],
    "KillProcesses":  [
                          "EliteSystemRestore.exe"
                      ]
}
