{
    "GccTargets":  [
                       "windres src\\EliteSoftware-TaskAssassin\\app.rc -O coff -o src\\EliteSoftware-TaskAssassin\\app.res",
                       "cmd /c if not exist \"src\\EliteSoftware-TaskAssassin\\x64\" mkdir \"src\\EliteSoftware-TaskAssassin\\x64\"",
                       "g++ -m64 -O3 -o src\\EliteSoftware-TaskAssassin\\x64\\EliteTaskAssassin.exe src\\EliteSoftware-TaskAssassin\\main.cpp src\\EliteSoftware-TaskAssassin\\app.res",
                       "cmd /c if exist \"BuildOutputx64\\EliteTaskAssassin.exe\" del /f /q \"BuildOutputx64\\EliteTaskAssassin.exe\"",
                       "cmd /c mklink \"BuildOutputx64\\EliteTaskAssassin.exe\" \"..\\src\\EliteSoftware-TaskAssassin\\x64\\EliteTaskAssassin.exe\"",
                       "cmd /c if not exist \"src\\EliteSoftware-TaskAssassin\\x86\" mkdir \"src\\EliteSoftware-TaskAssassin\\x86\"",
                       "g++ -m32 -O3 -o src\\EliteSoftware-TaskAssassin\\x86\\EliteTaskAssassin.exe src\\EliteSoftware-TaskAssassin\\main.cpp src\\EliteSoftware-TaskAssassin\\app.res",
                       "cmd /c if exist \"BuildOutputx86\\EliteTaskAssassin.exe\" del /f /q \"BuildOutputx86\\EliteTaskAssassin.exe\"",
                       "cmd /c mklink \"BuildOutputx86\\EliteTaskAssassin.exe\" \"..\\src\\EliteSoftware-TaskAssassin\\x86\\EliteTaskAssassin.exe\""
                   ],
    "KillProcesses":  [
                          "EliteTaskAssassin.exe"
                      ]
}
