{
    "GccTargets":  [
                       "windres src\\EliteSoftware-PIDKiller\\app.rc -O coff -o src\\EliteSoftware-PIDKiller\\app.res",
                       "cmd /c if not exist \"src\\EliteSoftware-PIDKiller\\x64\" mkdir \"src\\EliteSoftware-PIDKiller\\x64\"",
                       "g++ -m64 -O3 -o src\\EliteSoftware-PIDKiller\\x64\\ElitePIDKiller.exe src\\EliteSoftware-PIDKiller\\main.cpp src\\EliteSoftware-PIDKiller\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx64\\ElitePIDKiller.exe\" del /f /q \"BuildOutputx64\\ElitePIDKiller.exe\"",
                       "cmd /c mklink \"BuildOutputx64\\ElitePIDKiller.exe\" \"..\\src\\EliteSoftware-PIDKiller\\x64\\ElitePIDKiller.exe\"",
                       "cmd /c if not exist \"src\\EliteSoftware-PIDKiller\\x86\" mkdir \"src\\EliteSoftware-PIDKiller\\x86\"",
                       "g++ -m32 -O3 -o src\\EliteSoftware-PIDKiller\\x86\\ElitePIDKiller.exe src\\EliteSoftware-PIDKiller\\main.cpp src\\EliteSoftware-PIDKiller\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx86\\ElitePIDKiller.exe\" del /f /q \"BuildOutputx86\\ElitePIDKiller.exe\"",
                       "cmd /c mklink \"BuildOutputx86\\ElitePIDKiller.exe\" \"..\\src\\EliteSoftware-PIDKiller\\x86\\ElitePIDKiller.exe\""
                   ],
    "KillProcesses":  [
                          "ElitePIDKiller.exe"
                      ]
}
