{
    "GccTargets": [
        "windres src\\EliteSoftware-LaunchAsTI\\app.rc -O coff -o src\\EliteSoftware-LaunchAsTI\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteLaunchAsTI.exe src\\EliteSoftware-LaunchAsTI\\main.cpp src\\EliteSoftware-LaunchAsTI\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteLaunchAsTI.exe src\\EliteSoftware-LaunchAsTI\\main.cpp src\\EliteSoftware-LaunchAsTI\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteLaunchAsTI.exe"
    ]
}
