{
    "GccTargets": [
        "windres src\\EliteSoftware-AssetManager\\app.rc -O coff -o src\\EliteSoftware-AssetManager\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteAssetManager.exe src\\EliteSoftware-AssetManager\\main.cpp src\\EliteSoftware-AssetManager\\app.res -lurlmon",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteAssetManager.exe src\\EliteSoftware-AssetManager\\main.cpp src\\EliteSoftware-AssetManager\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteAssetManager.exe"
    ]
}
