{
    "GccTargets":  [
                       "windres src\\EliteSoftware-DocConverter\\app.rc -O coff -o src\\EliteSoftware-DocConverter\\app.res",
                       "cmd /c if not exist \"src\\EliteSoftware-DocConverter\\x64\" mkdir \"src\\EliteSoftware-DocConverter\\x64\"",
                       "g++ -m64 -O3 -o src\\EliteSoftware-DocConverter\\x64\\EliteDocConverter.exe src\\EliteSoftware-DocConverter\\main.cpp src\\EliteSoftware-DocConverter\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx64\\EliteDocConverter.exe\" del /f /q \"BuildOutputx64\\EliteDocConverter.exe\"",
                       "cmd /c mklink \"BuildOutputx64\\EliteDocConverter.exe\" \"..\\src\\EliteSoftware-DocConverter\\x64\\EliteDocConverter.exe\"",
                       "cmd /c if not exist \"src\\EliteSoftware-DocConverter\\x86\" mkdir \"src\\EliteSoftware-DocConverter\\x86\"",
                       "g++ -m32 -O3 -o src\\EliteSoftware-DocConverter\\x86\\EliteDocConverter.exe src\\EliteSoftware-DocConverter\\main.cpp src\\EliteSoftware-DocConverter\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx86\\EliteDocConverter.exe\" del /f /q \"BuildOutputx86\\EliteDocConverter.exe\"",
                       "cmd /c mklink \"BuildOutputx86\\EliteDocConverter.exe\" \"..\\src\\EliteSoftware-DocConverter\\x86\\EliteDocConverter.exe\""
                   ],
    "KillProcesses":  [
                          "EliteDocConverter.exe"
                      ]
}
