{
    "GccTargets": [
        "windres src\\EliteSoftware-SystemRestore\\app.rc -O coff -o src\\EliteSoftware-SystemRestore\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteSystemRestore.exe src\\EliteSoftware-SystemRestore\\main.cpp src\\EliteSoftware-SystemRestore\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteSystemRestore.exe src\\EliteSoftware-SystemRestore\\main.cpp src\\EliteSoftware-SystemRestore\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteSystemRestore.exe"
    ]
}
