{
    "GccTargets": [
        "windres src\\EliteSoftware-ServiceForge\\app.rc -O coff -o src\\EliteSoftware-ServiceForge\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteServiceForge.exe src\\EliteSoftware-ServiceForge\\main.cpp src\\EliteSoftware-ServiceForge\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteServiceForge.exe src\\EliteSoftware-ServiceForge\\main.cpp src\\EliteSoftware-ServiceForge\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteServiceForge.exe"
    ]
}
