{
    "GccTargets": [
        "windres src\\EliteSoftware-ExecPolToggle\\app.rc -O coff -o src\\EliteSoftware-ExecPolToggle\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteExecPolToggle.exe src\\EliteSoftware-ExecPolToggle\\main.cpp src\\EliteSoftware-ExecPolToggle\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteExecPolToggle.exe src\\EliteSoftware-ExecPolToggle\\main.cpp src\\EliteSoftware-ExecPolToggle\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteExecPolToggle.exe"
    ]
}
