{
    "GccTargets":  [
                       "windres src\\EliteSoftware-DummyDllGen\\app.rc -O coff -o src\\EliteSoftware-DummyDllGen\\app.res",
                       "cmd /c if not exist \"src\\EliteSoftware-DummyDllGen\\x64\" mkdir \"src\\EliteSoftware-DummyDllGen\\x64\"",
                       "g++ -m64 -O3 -o src\\EliteSoftware-DummyDllGen\\x64\\EliteDummyDllGen.exe src\\EliteSoftware-DummyDllGen\\main.cpp src\\EliteSoftware-DummyDllGen\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx64\\EliteDummyDllGen.exe\" del /f /q \"BuildOutputx64\\EliteDummyDllGen.exe\"",
                       "cmd /c mklink \"BuildOutputx64\\EliteDummyDllGen.exe\" \"..\\src\\EliteSoftware-DummyDllGen\\x64\\EliteDummyDllGen.exe\"",
                       "cmd /c if not exist \"src\\EliteSoftware-DummyDllGen\\x86\" mkdir \"src\\EliteSoftware-DummyDllGen\\x86\"",
                       "g++ -m32 -O3 -o src\\EliteSoftware-DummyDllGen\\x86\\EliteDummyDllGen.exe src\\EliteSoftware-DummyDllGen\\main.cpp src\\EliteSoftware-DummyDllGen\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx86\\EliteDummyDllGen.exe\" del /f /q \"BuildOutputx86\\EliteDummyDllGen.exe\"",
                       "cmd /c mklink \"BuildOutputx86\\EliteDummyDllGen.exe\" \"..\\src\\EliteSoftware-DummyDllGen\\x86\\EliteDummyDllGen.exe\""
                   ],
    "KillProcesses":  [
                          "EliteDummyDllGen.exe"
                      ]
}
