{
    "GccTargets": [
        "windres src\\EliteSoftware-NetworkManager\\app.rc -O coff -o src\\EliteSoftware-NetworkManager\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteNetworkManager.exe src\\EliteSoftware-NetworkManager\\main.cpp src\\EliteSoftware-NetworkManager\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteNetworkManager.exe src\\EliteSoftware-NetworkManager\\main.cpp src\\EliteSoftware-NetworkManager\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteNetworkManager.exe"
    ]
}
