{
    "GccTargets": [
        "windres src\\EliteSoftware-DummyDllGen\\app.rc -O coff -o src\\EliteSoftware-DummyDllGen\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteDummyDllGen.exe src\\EliteSoftware-DummyDllGen\\main.cpp src\\EliteSoftware-DummyDllGen\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteDummyDllGen.exe src\\EliteSoftware-DummyDllGen\\main.cpp src\\EliteSoftware-DummyDllGen\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteDummyDllGen.exe"
    ]
}
