{
    "GccTargets":  [
                       "windres src\\EliteSoftware-NetworkManager\\app.rc -O coff -o src\\EliteSoftware-NetworkManager\\app.res",
                       "cmd /c if not exist \"src\\EliteSoftware-NetworkManager\\x64\" mkdir \"src\\EliteSoftware-NetworkManager\\x64\"",
                       "g++ -m64 -O3 -o src\\EliteSoftware-NetworkManager\\x64\\EliteNetworkManager.exe src\\EliteSoftware-NetworkManager\\main.cpp src\\EliteSoftware-NetworkManager\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx64\\EliteNetworkManager.exe\" del /f /q \"BuildOutputx64\\EliteNetworkManager.exe\"",
                       "cmd /c mklink \"BuildOutputx64\\EliteNetworkManager.exe\" \"..\\src\\EliteSoftware-NetworkManager\\x64\\EliteNetworkManager.exe\"",
                       "cmd /c if not exist \"src\\EliteSoftware-NetworkManager\\x86\" mkdir \"src\\EliteSoftware-NetworkManager\\x86\"",
                       "g++ -m32 -O3 -o src\\EliteSoftware-NetworkManager\\x86\\EliteNetworkManager.exe src\\EliteSoftware-NetworkManager\\main.cpp src\\EliteSoftware-NetworkManager\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx86\\EliteNetworkManager.exe\" del /f /q \"BuildOutputx86\\EliteNetworkManager.exe\"",
                       "cmd /c mklink \"BuildOutputx86\\EliteNetworkManager.exe\" \"..\\src\\EliteSoftware-NetworkManager\\x86\\EliteNetworkManager.exe\""
                   ],
    "KillProcesses":  [
                          "EliteNetworkManager.exe"
                      ]
}
