{
    "GccTargets": [
        "windres src\\EliteSoftware-ComLoader\\app.rc -O coff -o src\\EliteSoftware-ComLoader\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteComLoader.exe src\\EliteSoftware-ComLoader\\main.cpp src\\EliteSoftware-ComLoader\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteComLoader.exe src\\EliteSoftware-ComLoader\\main.cpp src\\EliteSoftware-ComLoader\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteComLoader.exe"
    ]
}
