{
    "GccTargets":  [
                       "windres src\\EliteSoftware-ClipSaver\\app.rc -O coff -o src\\EliteSoftware-ClipSaver\\app.res",
                       "cmd /c if not exist \"src\\EliteSoftware-ClipSaver\\x64\" mkdir \"src\\EliteSoftware-ClipSaver\\x64\"",
                       "g++ -m64 -O3 -o src\\EliteSoftware-ClipSaver\\x64\\EliteClipSaver.exe src\\EliteSoftware-ClipSaver\\main.cpp src\\EliteSoftware-ClipSaver\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx64\\EliteClipSaver.exe\" del /f /q \"BuildOutputx64\\EliteClipSaver.exe\"",
                       "cmd /c mklink \"BuildOutputx64\\EliteClipSaver.exe\" \"..\\src\\EliteSoftware-ClipSaver\\x64\\EliteClipSaver.exe\"",
                       "cmd /c if not exist \"src\\EliteSoftware-ClipSaver\\x86\" mkdir \"src\\EliteSoftware-ClipSaver\\x86\"",
                       "g++ -m32 -O3 -o src\\EliteSoftware-ClipSaver\\x86\\EliteClipSaver.exe src\\EliteSoftware-ClipSaver\\main.cpp src\\EliteSoftware-ClipSaver\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx86\\EliteClipSaver.exe\" del /f /q \"BuildOutputx86\\EliteClipSaver.exe\"",
                       "cmd /c mklink \"BuildOutputx86\\EliteClipSaver.exe\" \"..\\src\\EliteSoftware-ClipSaver\\x86\\EliteClipSaver.exe\""
                   ],
    "KillProcesses":  [
                          "EliteClipSaver.exe"
                      ]
}
