{
    "GccTargets": [
        "windres src\\EliteSoftware-PIDKiller\\app.rc -O coff -o src\\EliteSoftware-PIDKiller\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\ElitePIDKiller.exe src\\EliteSoftware-PIDKiller\\main.cpp src\\EliteSoftware-PIDKiller\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\ElitePIDKiller.exe src\\EliteSoftware-PIDKiller\\main.cpp src\\EliteSoftware-PIDKiller\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "ElitePIDKiller.exe"
    ]
}
