{
    "GccTargets": [
        "windres src\\EliteSoftware-FolderScanner\\app.rc -O coff -o src\\EliteSoftware-FolderScanner\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteFolderScanner.exe src\\EliteSoftware-FolderScanner\\main.cpp src\\EliteSoftware-FolderScanner\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteFolderScanner.exe src\\EliteSoftware-FolderScanner\\main.cpp src\\EliteSoftware-FolderScanner\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteFolderScanner.exe"
    ]
}
