{
    "GccTargets":  [
                       "windres src\\EliteSoftware-ExecPolToggle\\app.rc -O coff -o src\\EliteSoftware-ExecPolToggle\\app.res",
                       "cmd /c if not exist \"src\\EliteSoftware-ExecPolToggle\\x64\" mkdir \"src\\EliteSoftware-ExecPolToggle\\x64\"",
                       "g++ -m64 -O3 -o src\\EliteSoftware-ExecPolToggle\\x64\\EliteExecPolToggle.exe src\\EliteSoftware-ExecPolToggle\\main.cpp src\\EliteSoftware-ExecPolToggle\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx64\\EliteExecPolToggle.exe\" del /f /q \"BuildOutputx64\\EliteExecPolToggle.exe\"",
                       "cmd /c mklink \"BuildOutputx64\\EliteExecPolToggle.exe\" \"..\\src\\EliteSoftware-ExecPolToggle\\x64\\EliteExecPolToggle.exe\"",
                       "cmd /c if not exist \"src\\EliteSoftware-ExecPolToggle\\x86\" mkdir \"src\\EliteSoftware-ExecPolToggle\\x86\"",
                       "g++ -m32 -O3 -o src\\EliteSoftware-ExecPolToggle\\x86\\EliteExecPolToggle.exe src\\EliteSoftware-ExecPolToggle\\main.cpp src\\EliteSoftware-ExecPolToggle\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx86\\EliteExecPolToggle.exe\" del /f /q \"BuildOutputx86\\EliteExecPolToggle.exe\"",
                       "cmd /c mklink \"BuildOutputx86\\EliteExecPolToggle.exe\" \"..\\src\\EliteSoftware-ExecPolToggle\\x86\\EliteExecPolToggle.exe\""
                   ],
    "KillProcesses":  [
                          "EliteExecPolToggle.exe"
                      ]
}
