{
    "GccTargets":  [
                       "windres src\\EliteSoftware-FolderScanner\\app.rc -O coff -o src\\EliteSoftware-FolderScanner\\app.res",
                       "cmd /c if not exist \"src\\EliteSoftware-FolderScanner\\x64\" mkdir \"src\\EliteSoftware-FolderScanner\\x64\"",
                       "g++ -m64 -O3 -o src\\EliteSoftware-FolderScanner\\x64\\EliteFolderScanner.exe src\\EliteSoftware-FolderScanner\\main.cpp src\\EliteSoftware-FolderScanner\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx64\\EliteFolderScanner.exe\" del /f /q \"BuildOutputx64\\EliteFolderScanner.exe\"",
                       "cmd /c mklink \"BuildOutputx64\\EliteFolderScanner.exe\" \"..\\src\\EliteSoftware-FolderScanner\\x64\\EliteFolderScanner.exe\"",
                       "cmd /c if not exist \"src\\EliteSoftware-FolderScanner\\x86\" mkdir \"src\\EliteSoftware-FolderScanner\\x86\"",
                       "g++ -m32 -O3 -o src\\EliteSoftware-FolderScanner\\x86\\EliteFolderScanner.exe src\\EliteSoftware-FolderScanner\\main.cpp src\\EliteSoftware-FolderScanner\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx86\\EliteFolderScanner.exe\" del /f /q \"BuildOutputx86\\EliteFolderScanner.exe\"",
                       "cmd /c mklink \"BuildOutputx86\\EliteFolderScanner.exe\" \"..\\src\\EliteSoftware-FolderScanner\\x86\\EliteFolderScanner.exe\""
                   ],
    "KillProcesses":  [
                          "EliteFolderScanner.exe"
                      ]
}
