{
    "GccTargets": [
        "windres src\\EliteSoftware-EnvManager\\app.rc -O coff -o src\\EliteSoftware-EnvManager\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteEnvManager.exe src\\EliteSoftware-EnvManager\\main.cpp src\\EliteSoftware-EnvManager\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteEnvManager.exe src\\EliteSoftware-EnvManager\\main.cpp src\\EliteSoftware-EnvManager\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteEnvManager.exe"
    ]
}
