{
    "GccTargets": [
        "windres src\\EliteSoftware-IconReplacer\\app.rc -O coff -o src\\EliteSoftware-IconReplacer\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\ src\\EliteSoftware-IconReplacer\\main.cpp src\\EliteSoftware-IconReplacer\\app.res -limagehlp",
        "g++ -m32 -O3 -o BuildOutputx86\\ src\\EliteSoftware-IconReplacer\\main.cpp src\\EliteSoftware-IconReplacer\\app.res -limagehlp"
    ],
    "KillProcesses": [
        "EliteSoftware-IconReplacer.exe"
    ]
}
