{
    "GccTargets":  [
                       "windres src\\EliteSoftware-LaunchAsTI\\app.rc -O coff -o src\\EliteSoftware-LaunchAsTI\\app.res",
                       "cmd /c if not exist \"src\\EliteSoftware-LaunchAsTI\\x64\" mkdir \"src\\EliteSoftware-LaunchAsTI\\x64\"",
                       "g++ -m64 -O3 -o src\\EliteSoftware-LaunchAsTI\\x64\\EliteLaunchAsTI.exe src\\EliteSoftware-LaunchAsTI\\main.cpp src\\EliteSoftware-LaunchAsTI\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx64\\EliteLaunchAsTI.exe\" del /f /q \"BuildOutputx64\\EliteLaunchAsTI.exe\"",
                       "cmd /c mklink \"BuildOutputx64\\EliteLaunchAsTI.exe\" \"..\\src\\EliteSoftware-LaunchAsTI\\x64\\EliteLaunchAsTI.exe\"",
                       "cmd /c if not exist \"src\\EliteSoftware-LaunchAsTI\\x86\" mkdir \"src\\EliteSoftware-LaunchAsTI\\x86\"",
                       "g++ -m32 -O3 -o src\\EliteSoftware-LaunchAsTI\\x86\\EliteLaunchAsTI.exe src\\EliteSoftware-LaunchAsTI\\main.cpp src\\EliteSoftware-LaunchAsTI\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx86\\EliteLaunchAsTI.exe\" del /f /q \"BuildOutputx86\\EliteLaunchAsTI.exe\"",
                       "cmd /c mklink \"BuildOutputx86\\EliteLaunchAsTI.exe\" \"..\\src\\EliteSoftware-LaunchAsTI\\x86\\EliteLaunchAsTI.exe\""
                   ],
    "KillProcesses":  [
                          "EliteLaunchAsTI.exe"
                      ]
}
