{
    "GccTargets":  [
                       "windres src\\EliteSoftware-ServiceForge\\app.rc -O coff -o src\\EliteSoftware-ServiceForge\\app.res",
                       "cmd /c if not exist \"src\\EliteSoftware-ServiceForge\\x64\" mkdir \"src\\EliteSoftware-ServiceForge\\x64\"",
                       "g++ -m64 -O3 -o src\\EliteSoftware-ServiceForge\\x64\\EliteServiceForge.exe src\\EliteSoftware-ServiceForge\\main.cpp src\\EliteSoftware-ServiceForge\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx64\\EliteServiceForge.exe\" del /f /q \"BuildOutputx64\\EliteServiceForge.exe\"",
                       "cmd /c mklink \"BuildOutputx64\\EliteServiceForge.exe\" \"..\\src\\EliteSoftware-ServiceForge\\x64\\EliteServiceForge.exe\"",
                       "cmd /c if not exist \"src\\EliteSoftware-ServiceForge\\x86\" mkdir \"src\\EliteSoftware-ServiceForge\\x86\"",
                       "g++ -m32 -O3 -o src\\EliteSoftware-ServiceForge\\x86\\EliteServiceForge.exe src\\EliteSoftware-ServiceForge\\main.cpp src\\EliteSoftware-ServiceForge\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx86\\EliteServiceForge.exe\" del /f /q \"BuildOutputx86\\EliteServiceForge.exe\"",
                       "cmd /c mklink \"BuildOutputx86\\EliteServiceForge.exe\" \"..\\src\\EliteSoftware-ServiceForge\\x86\\EliteServiceForge.exe\""
                   ],
    "KillProcesses":  [
                          "EliteServiceForge.exe"
                      ]
}
