{
    "GccTargets": [
        "windres -F pe-x86-64 $RcFile -o $ResOut64",
        "windres -F pe-i386 $RcFile -o $ResOut32",
        "g++ -m64 -O3 -o BuildOutputx64\\ $SourceFile $ResOut64",
        "g++ -m32 -O3 -o BuildOutputx86\\ $SourceFile $ResOut32"
    ],
    "KillProcesses": [
        "EliteSoftware-EasySigner.exe"
    ]
}
