{
    "GccTargets": [
        "windres src\\EliteSoftware-CertManager\\app.rc -O coff -o src\\EliteSoftware-CertManager\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteCertManager.exe src\\EliteSoftware-CertManager\\main.cpp src\\EliteSoftware-CertManager\\app.res -lcrypt32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteCertManager.exe src\\EliteSoftware-CertManager\\main.cpp src\\EliteSoftware-CertManager\\app.res -lole32 -luuid -lshell32 -lcrypt32"
    ],
    "KillProcesses": [
        "EliteCertManager.exe"
    ]
}
