{
    "GccTargets": [
        "windres src\\EliteSoftware-EXEKiller\\app.rc -O coff -o src\\EliteSoftware-EXEKiller\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteEXEKiller.exe src\\EliteSoftware-EXEKiller\\main.cpp src\\EliteSoftware-EXEKiller\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteEXEKiller.exe src\\EliteSoftware-EXEKiller\\main.cpp src\\EliteSoftware-EXEKiller\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteEXEKiller.exe"
    ]
}
