{
    "GccTargets": [
        "windres src\\EliteSoftware-RCManager\\app.rc -O coff -o src\\EliteSoftware-RCManager\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\ src\\EliteSoftware-RCManager\\main.cpp src\\EliteSoftware-RCManager\\app.res",
        "g++ -m32 -O3 -o BuildOutputx86\\ src\\EliteSoftware-RCManager\\main.cpp src\\EliteSoftware-RCManager\\app.res"
    ],
    "KillProcesses": [
        "EliteSoftware-RCManager.exe"
    ]
}
