{
    "GccTargets":  [
                       "windres src\\EliteSoftware-RegSnapshot\\app.rc -O coff -o src\\EliteSoftware-RegSnapshot\\app.res",
                       "cmd /c if not exist \"src\\EliteSoftware-RegSnapshot\\x64\" mkdir \"src\\EliteSoftware-RegSnapshot\\x64\"",
                       "g++ -m64 -O3 -o src\\EliteSoftware-RegSnapshot\\x64\\EliteRegSnapshot.exe src\\EliteSoftware-RegSnapshot\\main.cpp src\\EliteSoftware-RegSnapshot\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx64\\EliteRegSnapshot.exe\" del /f /q \"BuildOutputx64\\EliteRegSnapshot.exe\"",
                       "cmd /c mklink \"BuildOutputx64\\EliteRegSnapshot.exe\" \"..\\src\\EliteSoftware-RegSnapshot\\x64\\EliteRegSnapshot.exe\"",
                       "cmd /c if not exist \"src\\EliteSoftware-RegSnapshot\\x86\" mkdir \"src\\EliteSoftware-RegSnapshot\\x86\"",
                       "g++ -m32 -O3 -o src\\EliteSoftware-RegSnapshot\\x86\\EliteRegSnapshot.exe src\\EliteSoftware-RegSnapshot\\main.cpp src\\EliteSoftware-RegSnapshot\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx86\\EliteRegSnapshot.exe\" del /f /q \"BuildOutputx86\\EliteRegSnapshot.exe\"",
                       "cmd /c mklink \"BuildOutputx86\\EliteRegSnapshot.exe\" \"..\\src\\EliteSoftware-RegSnapshot\\x86\\EliteRegSnapshot.exe\""
                   ],
    "KillProcesses":  [
                          "EliteRegSnapshot.exe"
                      ]
}
