{
    "GccTargets":  [
                       "windres src\\EliteSoftware-ShortcutForge\\app.rc -O coff -o src\\EliteSoftware-ShortcutForge\\app.res",
                       "cmd /c if not exist \"src\\EliteSoftware-ShortcutForge\\x64\" mkdir \"src\\EliteSoftware-ShortcutForge\\x64\"",
                       "g++ -m64 -O3 -o src\\EliteSoftware-ShortcutForge\\x64\\EliteShortcutForge.exe src\\EliteSoftware-ShortcutForge\\main.cpp src\\EliteSoftware-ShortcutForge\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx64\\EliteShortcutForge.exe\" del /f /q \"BuildOutputx64\\EliteShortcutForge.exe\"",
                       "cmd /c mklink \"BuildOutputx64\\EliteShortcutForge.exe\" \"..\\src\\EliteSoftware-ShortcutForge\\x64\\EliteShortcutForge.exe\"",
                       "cmd /c if not exist \"src\\EliteSoftware-ShortcutForge\\x86\" mkdir \"src\\EliteSoftware-ShortcutForge\\x86\"",
                       "g++ -m32 -O3 -o src\\EliteSoftware-ShortcutForge\\x86\\EliteShortcutForge.exe src\\EliteSoftware-ShortcutForge\\main.cpp src\\EliteSoftware-ShortcutForge\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx86\\EliteShortcutForge.exe\" del /f /q \"BuildOutputx86\\EliteShortcutForge.exe\"",
                       "cmd /c mklink \"BuildOutputx86\\EliteShortcutForge.exe\" \"..\\src\\EliteSoftware-ShortcutForge\\x86\\EliteShortcutForge.exe\""
                   ],
    "KillProcesses":  [
                          "EliteShortcutForge.exe"
                      ]
}
