{
    "GccTargets": [
        "windres src\\EliteSoftware-Win7Enabler\\app.rc -O coff -o src\\EliteSoftware-Win7Enabler\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteWin7Enabler.exe src\\EliteSoftware-Win7Enabler\\main.cpp src\\EliteSoftware-Win7Enabler\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteWin7Enabler.exe src\\EliteSoftware-Win7Enabler\\main.cpp src\\EliteSoftware-Win7Enabler\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteWin7Enabler.exe"
    ]
}
