{
    "GccTargets": [
        "windres src\\EliteSoftware-OptiLink\\app.rc -O coff -o src\\EliteSoftware-OptiLink\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteOptiLink.exe src\\EliteSoftware-OptiLink\\main.cpp src\\EliteSoftware-OptiLink\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteOptiLink.exe src\\EliteSoftware-OptiLink\\main.cpp src\\EliteSoftware-OptiLink\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteOptiLink.exe"
    ]
}
