{
    "GccTargets":  [
                       "windres src\\EliteSoftware-ProfileManager\\app.rc -O coff -o src\\EliteSoftware-ProfileManager\\app.res",
                       "cmd /c if not exist \"src\\EliteSoftware-ProfileManager\\x64\" mkdir \"src\\EliteSoftware-ProfileManager\\x64\"",
                       "g++ -m64 -O3 -o src\\EliteSoftware-ProfileManager\\x64\\EliteProfileManager.exe src\\EliteSoftware-ProfileManager\\main.cpp src\\EliteSoftware-ProfileManager\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx64\\EliteProfileManager.exe\" del /f /q \"BuildOutputx64\\EliteProfileManager.exe\"",
                       "cmd /c mklink \"BuildOutputx64\\EliteProfileManager.exe\" \"..\\src\\EliteSoftware-ProfileManager\\x64\\EliteProfileManager.exe\"",
                       "cmd /c if not exist \"src\\EliteSoftware-ProfileManager\\x86\" mkdir \"src\\EliteSoftware-ProfileManager\\x86\"",
                       "g++ -m32 -O3 -o src\\EliteSoftware-ProfileManager\\x86\\EliteProfileManager.exe src\\EliteSoftware-ProfileManager\\main.cpp src\\EliteSoftware-ProfileManager\\app.res -lole32 -luuid -lshell32",
                       "cmd /c if exist \"BuildOutputx86\\EliteProfileManager.exe\" del /f /q \"BuildOutputx86\\EliteProfileManager.exe\"",
                       "cmd /c mklink \"BuildOutputx86\\EliteProfileManager.exe\" \"..\\src\\EliteSoftware-ProfileManager\\x86\\EliteProfileManager.exe\""
                   ],
    "KillProcesses":  [
                          "EliteProfileManager.exe"
                      ]
}
