{
    "GccTargets": [
        "windres src\\EliteSoftware-RegSnapshot\\app.rc -O coff -o src\\EliteSoftware-RegSnapshot\\app.res",
        "g++ -m64 -O3 -o BuildOutputx64\\EliteRegSnapshot.exe src\\EliteSoftware-RegSnapshot\\main.cpp src\\EliteSoftware-RegSnapshot\\app.res -lole32 -luuid -lshell32",
        "g++ -m32 -O3 -o BuildOutputx86\\EliteRegSnapshot.exe src\\EliteSoftware-RegSnapshot\\main.cpp src\\EliteSoftware-RegSnapshot\\app.res -lole32 -luuid -lshell32"
    ],
    "KillProcesses": [
        "EliteRegSnapshot.exe"
    ]
}
